* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
body {
  font-family: arial;
}
.page-title {
  margin-bottom: 1em;
  text-align: center;
}
.clock {
  width: 80vh;
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
/* Clock digits */
.clock-digits {
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
/* Clock Digit */
.digit {
  position: absolute;
  width: 98%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.digit > span {
  position: relative;
}

.five-eleven,
.four-ten {
  flex-direction: row-reverse;
  left: 0;
}
.twelve-six,
.one-seven,
.two-eight {
  left: 0;
}

/* Twelve and Six */
.twelve-six {
  transform: rotate(90deg);
  top: calc(50% - 1rem);
}
.twelve-six > span {
  transform: rotate(-90deg);
}
/* Twelve */
.digit > .twelve::before,
/* .digit > .twelve::before::before,
.digit > .twelve::after::after, */
.digit > .twelve::after {
  content: "";
  width: 0.3rem;
  height: 1rem;
  position: absolute;
  background-color: #000;
}
.digit > .twelve::before {
  transform: rotate(6deg);
  left: 150%;
}
.digit > .twelve::before::before {
  transform: rotate(6deg);
  left: 200%;
}
.digit > .twelve::after {
  transform: rotate(-6deg);
  left: -150%;
}
.digit > .twelve::after::after {
  transform: rotate(-6deg);
  left: -200%;
}

/* Three nine */
.three-nine {
  top: 50%;
  flex-direction: row-reverse;
}

/* One Seven */
.one-seven {
  transform: rotate(120deg);
}
.one-seven > span {
  transform: rotate(-120deg);
}

/* Two Eight */
.two-eight {
  transform: rotate(150deg);
}
.two-eight > span {
  transform: rotate(-150deg);
}

/* Four Ten */
.four-ten {
  transform: rotate(30deg);
}
.four-ten > span {
  transform: rotate(-30deg);
}

/* Five Eleven */
.five-eleven {
  transform: rotate(60deg);
}
.five-eleven > span {
  transform: rotate(-60deg);
}
