* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: arial;
  background-color: darksalmon;
}
.page-title {
  text-align: center;
  padding: 1.5rem;
  text-transform: uppercase;
}
.clock {
  width: 80vh;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  position: relative;
}
/* Clock digits */
.clock-digits {
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  border: 1.2rem solid #000;
  overflow: hidden;
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.4), 10px 16px 24px rgba(0, 0, 0, 0.3);
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

/* ========== Time Indicator ========= */
.clock-digits > .indicator {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: transparent;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.clock-digits > .indicator::before,
.clock-digits > .indicator::after {
  content: "";
  height: 0.2rem;
  width: 1rem;
  background-color: #000;
  position: absolute;
  top: 0;
}
.clock-digits > .indicator::after {
  left: calc(100% - 1rem);
}

/* 1 - 5 */
.clock-digits > .indicator:nth-of-type(1) {
  transform: translateX(0);
}
.clock-digits > .indicator:nth-of-type(2) {
  transform: rotate(calc(1 * 6deg));
}
.clock-digits > .indicator:nth-of-type(3) {
  transform: rotate(calc(2 * 6deg));
}
.clock-digits > .indicator:nth-of-type(4) {
  transform: rotate(calc(3 * 6deg));
}
.clock-digits > .indicator:nth-of-type(5) {
  transform: rotate(calc(4 * 6deg));
}

/* 6 -10 */
.clock-digits > .indicator:nth-of-type(6) {
  transform: rotate(calc(5 * 6deg));
}
.clock-digits > .indicator:nth-of-type(7) {
  transform: rotate(calc(6 * 6deg));
}
.clock-digits > .indicator:nth-of-type(8) {
  transform: rotate(calc(7 * 6deg));
}
.clock-digits > .indicator:nth-of-type(9) {
  transform: rotate(calc(8 * 6deg));
}
.clock-digits > .indicator:nth-of-type(10) {
  transform: rotate(calc(9 * 6deg));
}

/* 11 - 15 */
.clock-digits > .indicator:nth-of-type(11) {
  transform: rotate(calc(10 * 6deg));
}
.clock-digits > .indicator:nth-of-type(12) {
  transform: rotate(calc(11 * 6deg));
}
.clock-digits > .indicator:nth-of-type(13) {
  transform: rotate(calc(12 * 6deg));
}
.clock-digits > .indicator:nth-of-type(14) {
  transform: rotate(calc(13 * 6deg));
}
.clock-digits > .indicator:nth-of-type(15) {
  transform: rotate(calc(14 * 6deg));
}

/* 16 - 20 */
.clock-digits > .indicator:nth-of-type(16) {
  transform: rotate(calc(15 * 6deg));
}
.clock-digits > .indicator:nth-of-type(17) {
  transform: rotate(calc(16 * 6deg));
}
.clock-digits > .indicator:nth-of-type(18) {
  transform: rotate(calc(17 * 6deg));
}
.clock-digits > .indicator:nth-of-type(19) {
  transform: rotate(calc(18 * 6deg));
}
.clock-digits > .indicator:nth-of-type(20) {
  transform: rotate(calc(19 * 6deg));
}

/* 21 - 25 */
.clock-digits > .indicator:nth-of-type(21) {
  transform: rotate(calc(20 * 6deg));
}
.clock-digits > .indicator:nth-of-type(22) {
  transform: rotate(calc(21 * 6deg));
}
.clock-digits > .indicator:nth-of-type(23) {
  transform: rotate(calc(22 * 6deg));
}
.clock-digits > .indicator:nth-of-type(24) {
  transform: rotate(calc(23 * 6deg));
}
.clock-digits > .indicator:nth-of-type(25) {
  transform: rotate(calc(24 * 6deg));
}

/* 26 - 30 */
.clock-digits > .indicator:nth-of-type(26) {
  transform: rotate(calc(25 * 6deg));
}
.clock-digits > .indicator:nth-of-type(27) {
  transform: rotate(calc(26 * 6deg));
}
.clock-digits > .indicator:nth-of-type(28) {
  transform: rotate(calc(27 * 6deg));
}
.clock-digits > .indicator:nth-of-type(29) {
  transform: rotate(calc(28 * 6deg));
}
.clock-digits > .indicator:nth-of-type(30) {
  transform: rotate(calc(29 * 6deg));
}
/* ========== Minutes Mark ============== */
.clock-digits > .indicator:nth-of-type(1)::before,
.clock-digits > .indicator:nth-of-type(1)::after,
.clock-digits > .indicator:nth-of-type(6)::before,
.clock-digits > .indicator:nth-of-type(6)::after,
.clock-digits > .indicator:nth-of-type(11)::before,
.clock-digits > .indicator:nth-of-type(11)::after,
.clock-digits > .indicator:nth-of-type(16)::before,
.clock-digits > .indicator:nth-of-type(16)::after,
.clock-digits > .indicator:nth-of-type(21)::before,
.clock-digits > .indicator:nth-of-type(21)::after,
.clock-digits > .indicator:nth-of-type(26)::before,
.clock-digits > .indicator:nth-of-type(26)::after {
  width: 1.2rem;
  height: 0.3rem;
  background-color: darkslateblue;
}

/* ========== Digits ============= */
.digit {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

/* Three Nine horizontal */
.digit:nth-of-type(1) {
  transform: translateX(0);
}
.digit:nth-of-type(2) {
  transform: rotate(calc(1 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(3) {
  transform: rotate(calc(2 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(4) {
  transform: rotate(calc(3 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(5) {
  transform: rotate(calc(4 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(6) {
  transform: rotate(calc(5 * 30deg));
}

/* Individual digit */
.digit:nth-of-type(2) > span {
  transform: rotate(calc(-1 * 30deg));
}
.digit:nth-of-type(3) > span {
  transform: rotate(calc(-2 * 30deg));
}
.digit:nth-of-type(4) > span {
  transform: rotate(calc(-3 * 30deg));
}
.digit:nth-of-type(5) > span {
  transform: rotate(calc(-4 * 30deg));
}
.digit:nth-of-type(6) > span {
  transform: rotate(calc(-5 * 30deg));
}

/* =========== Hand ======== */
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 50%;
}
.hour-hand {
  width: 30%;
  height: 1rem;
  border-radius: 0.7rem;
  background-color: #000;
  transform: rotate(120deg);
  animation: hours linear 21600s infinite;
}

.minute-hand {
  width: 35%;
  height: 0.5rem;
  border-radius: 0.4rem;
  background-color: #000;
  animation: minutes linear 3600s infinite;
}
.second-hand {
  width: 45%;
  height: 0.3rem;
  background-color: #000;
  border-radius: 0.3rem;
  transform: rotate(270deg);
  animation: seconds 60s linear infinite;
}

.middle-circle {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 50%;
}

/* ======== Animation ======== */
@keyframes seconds {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(630deg);
  }
}
@keyframes minutes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hours {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}
